*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box
}

body{
    background: linear-gradient(205deg,#222,#303f53,#301E67);

}

/* The widget */
.box{
    width: 90%;
    max-width: 600px;
    background: linear-gradient(145deg,#B4D4FF,#176B87);
    color: white;
    margin: 100px auto 0;
    border-radius: 15px;
    padding: 40px 35px;
    text-align: center;
    margin-bottom: 50px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);

}


.col{
    font-family: 'Poppins',sans-serif;
}



.search_bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search_bar input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 25px;
    flex: 1;
    margin-right: 16px;
    font: size 18px;
}

.search_bar button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}


.search_bar button img{
    width: 30px;
}


.search_bar input{
    font-size: 20px;
}

.weather-ico{
    width: 170px;
    margin-top:30px;
    transition: opacity 1s ease-in-out;
}

.weather_info h1{
    font-size: 80px;
    font-weight: 500px;
}


.weather_info h2{
    font-size: 45px;
    font-weight: 400px;
    margin-top: -10px;
}

/* Allining the humidity and wind sections  */
.details{
    display: flex;
    align-items: center;
    gap: 10%;
    padding: 0 30px;
    margin-top: 50px;
    margin-left: 15%;
}

/* Columns */
.col{
    display: flex;
    align-items: center;
    text-align: left;
}

/* Determine the width */
.col img{
    width:70px;
    margin-right:6px;
}

/* Size for wind and humidity values */
.humidity, .wind{
    font-size:28px;
    margin-top: -6px;

}

/* The footer */
footer{
    clear: both;
    text-align: center;
    color: aliceblue;
    margin-top: 10%;
}

